.login {
  padding-top: 2rem;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #fdeeeb;
}
.loginContainer {
  width: 900px;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.loginImage {
  width: 50%;
}
.loginImage img {
  margin: 65px 0 0 90px;
  width: 65%;
}
.loginDetail {
  padding: 2rem 4rem;
  width: 50%;
  /* height: 300px; */
}
.loginDetail > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 11px;
}
.loginDetail > div:nth-child(1) h3,
span {
  color: rgb(57, 57, 57);
}
.loginDetail > div:nth-child(2) input {
  width: 100%;
  padding: 10px;
  margin: 1rem 0;
  font-size: 15px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid rgb(187, 187, 187);
  color: gray;
}
.loginDetail > div:nth-child(2) button {
  width: 100%;
  padding: 10px;
  margin: 1rem 0;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: #fd436e;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
.loginDetail > div:nth-child(2) p {
  color: gray;
  font-size: 14px;
  margin: 5px 0;
}
.loginDetail > div:nth-child(2) p a {
  color: #fd436e;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .loginContainer {
    width: 500px;
    padding: 0;
  }
  .loginImage {
    display: none;
  }
  .loginDetail {
    padding: 2rem 3rem;
    width: 100%;
  }
}
@media (max-width: 570px) {
  .login {
    padding-top: 0rem;
  }
  .loginContainer {
    width: 320px;
  }
  .loginDetail {
    padding: 1rem 1rem;
  }
  .loginDetail > div:nth-child(2) p {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .login {
    background-color: white;
  }
  .loginContainer {
    width: 280px;
  }
  .loginDetail {
    padding: 10px;
  }
  .loginDetail > div:nth-child(2) p {
    font-size: 11px;
    margin: 2px 0;
  }
}
.error {
  color: red;
  /* background-color: lightsalmon; */
  padding: 5px;
  margin: 10px;
  font-weight: bold;
}

/* yakshith */
.logoanime {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -10px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -19px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  animation: profile_animate 8s ease-in-out infinite 1s;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  /* border: 0.1rem solid rgba(55, 51, 51, 0.349); */
}
@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
